# Copy this file to .env.local and fill in your Google Sheet ID.
# Your Sheet ID is the long string in the URL of your Google Sheet:
#   https://docs.google.com/spreadsheets/d/YOUR_SHEET_ID_HERE/edit
#
# IMPORTANT: The sheet must be set to "Anyone with the link can view"
# AND published to the web (File > Share > Publish to web).

NEXT_PUBLIC_SHEET_ID=your_google_sheet_id_here
